extends layout

block content
  h1 Jamsheer Aslam Shaik

  .container-fluid
    .row
      -
        let results = [
          { Phone_name:'Iphone', Phone_color :'Blue',Phone_cost:1000 },
          { Phone_name:'Pixel', Phone_color:'pink',Phone_cost:2000  },
          { Phone_name:'oppo', Phone_color:'White',Phone_cost:3000  }
        ]
    each item in results
        .col-sm-2
            h3 Phone 
            div(onclick=`buy(${index})`)
            p #{item.Phone_name}, #{item.Phone_color},#{item.Phone_cost}

  a(href='http://localhost:3000/') Link to Index

  script.
     function buy(y) {
      alert(`You purchased item ${y+1}`);
     }

  